*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.about{
    padding: 20px 30px;
    width: 100%;
    background-color: #0f0f0f;
}

.about .container{
    max-width: 100%;
}

.about .container .top_container{
    width: 100%;
    display: flex;
    padding: 20px 30px;
}

.about .container .top_container .left_box{
    padding: 30px 30px;
    height: 350px;
    width: 350px;
    background: linear-gradient(to right , #323232, #141414);
    border-radius: 10px;
}

.about .container .top_container .left_box .contant .img_box{
    width:100%;
    height: 100%;
    background: #009dff;
    border-radius: 10px;
}

.about .container .top_container .left_box .contant .img_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.about .container .top_container .right_box{
    padding: 30px 30px;
    background: linear-gradient(to right , #323232,#141414);
    margin-left: 30px;
    width: 75%;
}

.about .container .top_container .right_box .contant{
    padding: 20px 20px;
}

.about .container .top_container ..right_box .contant .heading{
    display: flex;
}

.about .container .top_container .right_box .contant .heading h2{
    font-size: 48px;
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: 200;
}

.about .container .top_container .right_box .contant .detail{
    width: 100%;
    background: linear-gradient(to right, #323232,#141414);
    margin-top: 20px;
    padding: 0px 20px;
    border-radius: 10px;
}

.about .container .top_container .right_box .contant .detail .info{
    padding: 20px 20px;
}

.about .container .top_container .right_box .contant .detail .info h3{
    color: #fff;
    font-size: 32px;
}

.about .container .top_container .right_box .contant .detail .info p{
    margin-top: 5px;
    color: #c6c6c6;
}

.about .container .mid_container{
    padding: 20px 20px;
    width: 100%;
}

.about .container .mid_container .container{
    max-width: 100%;
    display:flex ;
}

.about .container .mid_container .container .exp{
    width: 49%;
    padding: 20px 20px;
    background: linear-gradient(to right,#323232,#141414);
    border-radius: 10px;
}

.about .container .mid_container .container .exp h2{
    color: #fff;
    text-transform:uppercase ;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
}

.about .container .mid_container .container .exp .box{
    margin-top: 20px;
}

.about .container .mid_container .container .exp .box p{
    color: #9d9d9d;
    margin-top: 5px;
}

.about .container .mid_container .container .exp .box h3{
    color: #fff;
    margin-top: 5px;
    font-weight: 200;
    font-size: 18px;
}

.about .container .mid_container .container .edu{
    width: 49%;
    padding: 20px 20px;
    background: linear-gradient(to right,#323232,#141414);
    border-radius: 10px;
}

.about .container .mid_container .container .edu h2{
    color: #fff;
    text-transform:uppercase ;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
}

.about .container .mid_container .container .edu .box{
    margin-top: 20px;
}

.about .container .mid_container .container .edu .box p{
    color: #9d9d9d;
    margin-top: 5px;
}

.about .container .mid_container .container .edu .box h3{
    color: #fff;
    margin-top: 5px;
    font-weight: 200;
    font-size: 18px;
}