*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer{
    padding: 20px 30px;
    width: 100%;
    background: #0f0f0f;
}
.footer .top_container{
    margin-top: 20px;
    max-width: 100%;
}

.footer .top_container .contant{
    width: 100%;
    display: flex;
}

.footer .top_container .contant .left_box{
    width: 49%;
    padding: 30px 30px;
    background: linear-gradient(to right ,#323232 , #141414);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.footer .top_container .contant .left_box .box{
    padding: 40px 20px;
    background: #242424;
    border-radius: 10px;
}
.footer .top_container .contant .left_box .box .detail h3{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.footer .top_container .contant .left_box .box .detail p{
    margin-top: 10xp;
    text-transform: uppercase;
    color: #c6c6c6;
    font-size: 12px;
    text-align: center;
}

.footer .top_container .contant .right_box{
    padding: 30px 30px;
    width: 49%;
    background: linear-gradient(to right, #323232,#141414);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.footer .top_container .contant .right_box .contant{
    display: flex;
}

.footer .top_container .contant .right_box .contant .detail h2{
    color: #fff;
    font-size: 42px;
}

.footer .top_container .contant .right_box .contant .detail h2 span{
    color: #5a77f3;
}

.footer .top_container .contant .right_box .contant .icon{
    margin-top: 50px;
    margin-left: 70px;
    font-size: 22px;
    color: #6c6c6c;
    transition: 0.5s;
}

.footer .top_container .contant .right_box:hover .contant .icon{
    color: #fff;
}

.footer .bottom_container{
    padding: 30px 40px;
    width: 100%;
}

.footer .bottom_container .container{
    margin-top: 20px;
    max-width: 100%;
}

.footer .bottom_container .container h2{
    text-align: center;
    font-size: 42px;
    color: #fff;
    letter-spacing: 1px;
}

.footer .bottom_container .container .nav{
    margin-top: 30px;
    width: 100%;
}

.footer .bottom_container .container .nav ul{
    display: flex;
    margin-left: 30%;

}

.footer .bottom_container .container .nav ul li{
    list-style: none;
    margin-left: 60px;
}

.footer .bottom_container .container .nav ul li .link{
    text-decoration: none;
    color: #323232;
    transition: 0.5s;
    font-weight: 600;
}

.footer .bottom_container .container .nav ul li .link:hover{
    color: #fff;
}